# .git
# .github
# .vscode
# .idea

# docs

# **/__pycache__
# **/.pytest_cache
# **/.mypy_cache
# **/.ruff_cache


# **/node_modules
# **/dist
# **/build
# **/target

# **/.env
# **/.env.*

# !.env.example

# *.log
# *.tmp
# *.swp

# .gitignore
# README.md


# =========================
# Git
# =========================
.git
.github

# =========================
# IDE
# =========================
.vscode
.idea

# =========================
# Documentation
# =========================
docs

# =========================
# Python
# =========================
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache

# =========================
# Java
# =========================
**/target

# =========================
# Node
# =========================
**/node_modules
**/dist
**/build

# =========================
# Environment Files
# =========================
**/.env
**/.env.*

!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db