# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/
.pyre/
.tox/
.nox/

# =========================
# Build Artifacts
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Coverage
# =========================
.coverage
.coverage.*
htmlcov/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Runtime Data
# =========================
uploads/
storage/

# =========================
# Local AI Models
# =========================
.huggingface/
sentence_transformers/
cache/
models/

# =========================
# Environment
# =========================
.env
.env.*

!.env.example

# =========================
# Git
# =========================
.git/
.github/
.gitignore
.gitattributes

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Documentation
# =========================
docs/
README.md

# =========================
# OS
# =========================
.DS_Store
Thumbs.db